.hero {
    gap: 5%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 12% 0 12%;
}

.hero-left {
    width: 55%;
}

.hero-right {
    width: 45%;
    padding: 60px 35px;
    border-left: 5px solid var(--border);
    border-radius: 0 15px 15px 0;
    background-color: var(--cardBG);
}

.hero-right span {
  font-size: 16px;
  line-height: 1.8;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero-content h1 {
    margin: 0;
    padding: 0;
    font-size: 75px;
    font-weight: 900;
    text-transform: uppercase;
}

.hero-content p:nth-of-type(2) {
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0 10px 0;
    text-transform: uppercase;
}

.hero-btn {
    display: flex;
    margin-top: 25px;
    justify-content: start;
}

.hero i {
    margin: 2px;
    padding: 10px;
    color: var(--heroIcon);
    border-radius: 100px;
    background-color: var(--heroBtnBG);
    border: 1px solid var(--heroIBorder);
}

.hero-btn button {
    border: none;
    margin-right: 15px;
    border-radius: 100px;
    padding: 5px 5px 5px 5px;
    background-color: transparent;
    box-shadow: 0 0 2px var(--boxShadow);
}

.hero-btn a:nth-of-type(1) button{
    padding: 5px 10px 5px 5px;
}

.hero-btn button:hover,
.hero i:hover {
    color: var(--heroIBorder);
    background-color: var(--heroBtnBG);
}

.hero-btn button a {
    margin: 0;
    padding: 0;
}



@media(max-width: 768px) {
    .hero {
        gap: 100px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 80px 20px;
    }

    .hero-left {
        width: 100%;
    }

    .hero-right {
        width: 100%;
    }

    .hero-left h1 {
        font-size: 45px;
        margin: 12px 0;
    }

    .hero-content p {
        text-align: justify;
    }

    .hero-content p:nth-of-type(2) {
        font-size: 25px;
    }
}