.resume {
    gap: 5%;
    display: flex;
    padding: 10px 12% 75px 12%;
}

.resume h2 {
    margin-bottom: 35px;
}

.education {
    width: 50%;
}

.skills {
    width: 50%;
}

@media(max-width: 768px) {
    .resume {
        gap: 60px;
        display: flex;
        padding: 20px 20px;
        flex-direction: column;
    }

    .education,
    .skills {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}